In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../Data/city_weather.csv')

In [3]:
g = df.groupby('city')

In [4]:
g.agg('min')

            date  temperature  wind
city
BJ    03/01/2016           -3     2
GZ    14/08/2016           -1     2
SH    03/07/2016          -10     2
SZ    11/09/2016          -10     1

In [5]:
def foo(attr):#attr就是每个dataframe分组的每列column
    return attr.max()-attr.min()#不能运算的列直接忽略

In [6]:
g.agg(foo)

      temperature  wind
city
BJ             22     3
GZ             26     3
SH             30     3
SZ             30     3