In [1]:
import numpy as np
import pandas as pd

In [2]:
score_list = np.random.randint(25,100,size=20)
score_list

array([27, 67, 36, 83, 37, 25, 81, 80, 97, 53, 74, 90, 50, 88, 67, 88, 94,
       97, 68, 27])

In [3]:
bins = [0,59,70,80,100]#边界左开右闭
score_cat = pd.cut(score_list,bins)
score_cat

[(0, 59], (59, 70], (0, 59], (80, 100], (0, 59], ..., (80, 100], (80, 100], (80, 100], (59, 70], (0, 59]]
Length: 20
Categories (4, interval[int64]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

In [4]:
pd.value_counts(score_cat)

(80, 100]    8
(0, 59]      7
(59, 70]     3
(70, 80]     2
dtype: int64

In [5]:
df = pd.DataFrame({'score':score_list})
df.head()

   score
0     27
1     67
2     36
3     83
4     37

In [6]:
df['categories'] = pd.cut(df['score'],bins,
                          labels=['low','ok','good','great'])
df.head()

   score categories
0     27        low
1     67         ok
2     36        low
3     83      great
4     37        low