In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../Data/demo_duplicate.csv')
df.head()

         time Symbol  Seqno  Price
0  1473411962   APPL      0   1623
1  1473411962   APPL      0   1623
2  1473411963   APPL      0   1623
3  1473411963   APPL      0   1623
4  1473411963   APPL      1   1649

In [3]:
len(df['Seqno'].unique())

1000

In [4]:
df.duplicated()

0       False
1        True
2       False
3        True
4       False
        ...
3984     True
3985    False
3986     True
3987     True
3988    False
Length: 3989, dtype: bool

In [5]:
df.drop_duplicates(['Seqno'],keep='last').head()

          time Symbol  Seqno  Price
3   1473411963   APPL      0   1623
7   1473411964   APPL      1   1649
11  1473411965   APPL      2   1642
15  1473411966   APPL      3   1636
19  1473411967   APPL      4   1669