In [1]:
import numpy as np
import pandas as pd

# <font color=steelblue>Concatenate</font>

In [2]:
#array
arr1 = np.arange(9).reshape(3,3)
arr2 = np.arange(9).reshape(3,3)
np.concatenate([arr1,arr2],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [3]:
#Series
s1 = pd.Series([1,2,3],index=['X','Y','Z'])
s2 = pd.Series([4,5],index=['A','B'])
pd.concat([s1,s2],axis=1)

     0    1
X  1.0  NaN
Y  2.0  NaN
Z  3.0  NaN
A  NaN  4.0
B  NaN  5.0

In [4]:
#DataFrame
df1 = pd.DataFrame(np.random.randn(9).reshape(3,3),columns=['X','Y','Z'])
df2 = pd.DataFrame(np.random.randn(9).reshape(3,3),columns=['X','Y','A'])
pd.concat([df1,df2],axis=1)

          X         Y         Z         X         Y         A
0  0.076891 -0.104530  0.628771 -2.151155  0.201744 -0.296403
1 -0.127928  1.879313 -1.552457 -0.046640 -0.696638  2.001199
2  1.032755  1.185799  0.053776 -0.770467  0.449832 -0.844698

# <font color=steelblue>Combine</font>

In [5]:
#Series
s1 = pd.Series([2,np.nan,4,np.nan],index=['A','B','C','D'])
s2 = pd.Series([1,2,3,4],index=['A','B','C','D'])
s1.combine_first(s2)#s1中的空值填充s2的值

A    2.0
B    2.0
C    4.0
D    4.0
dtype: float64

In [6]:
df1 = pd.DataFrame({
    'X':[1,np.nan,3,np.nan],'Y':[5,np.nan,7,np.nan],
    'Z':[9,np.nan,11,np.nan]
})
df2 = pd.DataFrame({
    'Z':[np.nan,10,np.nan,12],'A':[1,2,3,4]
})

In [7]:
df1.combine_first(df2)#df1里没有的df2的列也会填充

     A    X    Y     Z
0  1.0  1.0  5.0   9.0
1  2.0  NaN  NaN  10.0
2  3.0  3.0  7.0  11.0
3  4.0  NaN  NaN  12.0