In [1]:
import numpy as np
import pandas as pd

<font color=orange size=3>Series的排序</font>

In [2]:
s1 = pd.Series(np.random.randn(5))
s1

0   -2.093766
1    1.872037
2    0.266507
3    0.802745
4    0.053600
dtype: float64

In [3]:
s2 = s1.sort_values()
s2

0   -2.093766
4    0.053600
2    0.266507
3    0.802745
1    1.872037
dtype: float64

In [4]:
s2.sort_index()

0   -2.093766
1    1.872037
2    0.266507
3    0.802745
4    0.053600
dtype: float64

<font color=orange size=3>DataFrame的排序</font>

In [5]:
df1 = pd.DataFrame(np.random.randn(15).reshape(5,3),
                   index=['a','b','c','d','e'],columns=['A','B','C'])
df1

          A         B         C
a -1.808105  0.367714 -0.723392
b  0.735108  3.195936  0.094685
c  0.676971 -0.694668 -0.777082
d -0.407629 -1.457550  0.402264
e  0.035999  1.044880 -0.106687

In [6]:
df2 = df1.sort_values('A',axis=0)

In [7]:
df2.sort_index()

          A         B         C
a -1.808105  0.367714 -0.723392
b  0.735108  3.195936  0.094685
c  0.676971 -0.694668 -0.777082
d -0.407629 -1.457550  0.402264
e  0.035999  1.044880 -0.106687